.landing-icons {
    width: 150px;
    height: auto;
}

.container {
    display: flex;
    justify-content: center;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 25em;
    padding: 1.5em;
}

@media (max-width: 390px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        height: 15em;
        width: 15em;
    }
}