.landing-icons {
    width: 150px;
    height: auto;
}

.container {
    display: flex;
    justify-content: center;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

